**/.gradle
**/.settings
**/.classpath
**/.project
**/bin
.vscode/
/koodi/viikko6/Laskin/.nb-gradle/
/koodi/viikko6/Laskin/build/
/koodi/viikko6/QueryLanguage/.nb-gradle/
/koodi/viikko6/QueryLanguage/build/